@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-sans:
    "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-roboto:
    "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-oranienbaum:
    "Oranienbaum", Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  body {
    font-family: var(--font-roboto);
  }
}

.font-oranienbaum {
  font-family: var(--font-oranienbaum);
}

.font-roboto {
  font-family: var(--font-roboto);
}
